/* rem and em do not depend on HTML font size in media queries like
in styles.css instead, depend on default font size of browser which
is 16px. so 1rem = 1em = 16px */

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  .gallary {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* below 1200px */

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .header {
    padding: 0 3.2rem;
  }

  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }
  .heading-primary {
    margin-bottom: 5.2rem;
  }
  .heading-secondary {
    font-size: 3.6rem;
  }
  .heading-tertiary {
    font-size: 2.4rem;
  }

  .hero {
    gap: 4.8rem;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .testimonials-container {
    padding: 9.6rem 3.2rem;
  }
}

/* below 944px */

@media (max-width: 59em) {
  html {
    font-size: 50%;
  }

  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }

  .hero-img {
    width: 60%;
  }

  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }

  .delivered-meals {
    justify-content: center;
    margin-top: 3.2rem;
  }

  .logos img {
    height: 2.4rem;
  }

  .step-number {
    font-size: 7.4rem;
  }

  .meal-content {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }

  .section-testimonials {
    grid-template-columns: 1fr;
  }

  .gallary {
    grid-template-columns: repeat(6, 1fr);
  }

  .pricing-plan {
    width: 80%;
  }
  .pricing-plan--starter,
  .pricing-plan--complete {
    padding: 3.2rem;
  }
  .plan-header {
    padding: 3.2rem;
  }
  .cta {
    grid-template-columns: 3fr 2fr;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  .btn--form {
    margin-top: 1.2rem;
  }

  .btn-mobile-nav {
    display: block;
    z-index: 999;
  }

  .main-nav {
    background-color: rgba(253, 253, 253, 0.8);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    /* width: 60%; */
    width: 100%;
    height: 100vh;
    transition: all 0.5s ease-in;
    transform: translateX(100%);
    /* transform: translateX(70%); */

    display: flex;
    align-items: center;
    justify-content: center;

    /* he says display:none will not allow to transisition */
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    /* display: none; */
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    /* transform: translateX(70%); */
    transform: translateX(0);
    /* display: flex; */
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }
  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
}

/* below 700 px */

@media (max-width: 44em) {
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .logos img {
    height: 1.6rem;
  }

  .diets {
    grid-column: 1 / -1;
    justify-self: center;
  }

  .heading-secondary {
    margin-bottom: 4.8rem;
  }

  .pricing-plan {
    width: 100%;
  }
  .plan-header {
    padding: 1.8rem;
  }
  .pricing-plan--complete::after {
    top: 7%;
    right: -19%;
  }

  .footer-grid {
    grid-template-columns: repeat(6, 1fr);
  }

  .logo-col,
  .address-col {
    grid-column: span 3;
  }
  .nav-col {
    grid-row: 1;
    grid-column: span 2;
  }
}

/* @media (max-width: 39em) {
   .section-pricing .grid--2-cols {
     grid-template-columns: 1fr;
   }
 
   .pricing-plan {
     width: 75%;
     justify-self: center;
   }
 
   .pricing-plan--starter,
   .pricing-plan--complete {
     padding: 4.8rem;
   }
 } */
/*==================
 below 544 px 
 =====================*/
@media (max-width: 34em) {
  .grid {
    row-gap: 4.8rem;
  }
  .grid--3-cols,
  .grid--4-cols,
  .grid--2-cols {
    grid-template-columns: 1fr;
  }

  .btn,
  .btn:link,
  .btn:visited {
    padding: 2.4rem 1.6rem;
  }

  .section-hero,
  .section-meals,
  .section-pricing {
    padding: 2.4rem 0 6.4rem 0;
  }

  /* .hero-text-box .btn {
    display: block;
  } */

  .hero {
    padding: 0 3.2rem;
  }

  .hero-img {
    width: 80%;
  }

  .logos img {
    height: 1.4rem;
  }

  .section-how {
    padding: 4.6rem 0;
  }
  .step-img-box {
    /* padding-bottom: 3.2rem; */
    transform: translateY(-2.4rem);
  }
  .step-img-box:nth-child(3) {
    grid-row: 4;
  }

  /* .meal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  } */

  .testimonials {
    grid-template-columns: 1fr;
  }

  /* this is in top of styles css */
  .grid:not(:last-child) {
    margin-bottom: 6.8rem;
  }

  .gallary {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
  }

  .cta {
    grid-template-columns: 1fr;
  }

  .cta-image {
    height: 32rem;
    grid-row: 1;
  }
}
